@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Passages";
    @model IList<DriverAssist.Models.PassageModel>
}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"> </script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script src="~/Scripts/MVCDataTableJqueryBootStrap-ui.js"></script>
<script src="~/Scripts/dataTables.js"></script>
@*<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />*@

<div class="card">
    <div class="header">
        <h4 class="title">List of passages</h4>
        <p class="category">Check out your passages</p>
    </div>
    <div>
        <a class="toggle-vis" data-column="0" href="#">Ride_ID</a>-
        <a class="toggle-vis" data-column="1" href="#">Date</a>-
        <a class="toggle-vis" data-column="2" href="#">Time</a>-
        <a class="toggle-vis" data-column="3" href="#">Length</a>-
        <a class="toggle-vis" data-column="4" href="#">Vehicle</a>
    </div>
    <div class="content table-responsive table-full-width">
        <table id="example" class="table table-hover table-striped">
            <thead>
            <th>Ride_ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Length</th>
            <th>Vehicle</th>
            </thead>
            <tfoot>
                <tr>
                    <th>Ride_ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Length [KM]</th>
                    <th>Vehicle</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="clickable-row" data-href="@Url.Action("Statistics", "Home")">
                        <td>@item.Passage_ID</td>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                        <td>@item.Time</td>
                        <td>@item.Length</td>
                        <td>@item.Car</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    $('#mytable  tbody tr').click(function () {
        $(this).addClass('info').siblings().removeClass('info');
    });
</script>


<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {

        // DataTable
        var table = $('#example').DataTable();


        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();

            var column = table.column($(this).attr('data-column'));

            column.visible(!column.visible());
        });


        $('#example tfoot th').each(function () {
            var title = $('#example thead th').eq($(this).index()).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '"id="' + title.replace(/ /g, '') + '" />');
        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {

                var value = $("#Length").val();

                if (value == "") {
                    return true;
                }
                else if (value.indexOf('<') == -1) {
                    var qty = parseInt(data[3], 10) || 0;
                    if (qty == value) {
                        return true;
                    }
                        return false;
                }
                
                var split = value.split('<', 2);

                var min = 0;
                var max = 0;

                if (split != null) {
                    min = parseInt(split[0], 10);
                    max = parseInt(split[1], 10);

                    if (isNaN(min)) {
                        min = 0;
                    }
                    if (isNaN(max)) {
                        max = 0;
                    }
                }

                var qty = parseInt(data[3], 10) || 0;

                if (min < qty && qty < max) {
                    return true;
                }
                return false;
            }
        );


        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {

                var value = $("#Time").val();

                if (value == "") {
                    return true;
                }
                else if (value.indexOf('<') == -1) {
                    var qty = data[2];
                    if (qty == value) {
                        return true;
                    }
                    return false;
                }

                var split = value.split('<', 2);

                if (split != null) {
                    var min = split[0];
                    var max = split[1];

                    var minSplit = min.split(':', 3);
                    var maxSplit = max.split(':', 3);

                    var minHour = parseInt(minSplit[0], 10);
                    var minMin = parseInt(minSplit[1], 10);
                    var minSec = parseInt(minSplit[2], 10);
                    var maxHour = parseInt(maxSplit[0], 10);
                    var maxMin = parseInt(maxSplit[1], 10);
                    var maxSec = parseInt(maxSplit[2], 10);

                    if (isNaN(minHour)) {
                        minHour = 0;
                        minMin = 0;
                        minSec = 0;
                    }
                }


                var qty = data[2];
                var qtySplit = qty.split(':', 3);
                var qtyHour = parseInt(qtySplit[0], 10);
                var qtyMin = parseInt(qtySplit[1], 10);
                var qtySec = parseInt(qtySplit[2], 10);

                if (minHour < qtyHour && qtyHour < maxHour) {
                    return true;
                }
                else if (qtyHour == maxHour && qtyMin < maxMin && split[0] == "") {
                    return true;
                }
                else if ((qtyHour == minHour && qtyMin > minMin) && (qtyHour == maxHour && qtyMin < maxMin)) {
                    return true;
                }
                else if (qtyHour == maxHour && qtyMin == maxMin && qtySec < maxSec && split[0] == "") {
                    return true;
                }
                else if ((qtyHour == minHour && qtyMin == minMin && qtySec > minSec) && (qtyHour == maxHour && qtyMin == maxMin && qtySec < maxSec)) {
                    return true;
                }
               
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {

                var value = $("#Date").val();

                if (value == "") {
                    return true;
                }
                else if (value.indexOf('<') == -1) {
                    var qty = data[1];
                    if (qty == value) {
                        return true;
                    }
                    return false;
                }

                var split = value.split('<', 2);

                if (split != null) {
                    var min = split[0];
                    var max = split[1];

                    var minSplit = min.split('.', 3);
                    var maxSplit = max.split('.', 3);

                    var minDay = parseInt(minSplit[0], 10);
                    var minMon = parseInt(minSplit[1], 10);
                    var minYer = parseInt(minSplit[2], 10);
                    var maxDay = parseInt(maxSplit[0], 10);
                    var maxMon = parseInt(maxSplit[1], 10);
                    var maxYer = parseInt(maxSplit[2], 10);

                    if (isNaN(minDay)) {
                        minDay = 0;
                        minMon = 0;
                        minYer = 0;
                    }
                }


                var qty = data[1];
                var qtySplit = qty.split('.', 3);
                var qtyDay = parseInt(qtySplit[0], 10);
                var qtyMon = parseInt(qtySplit[1], 10);
                var qtyYer = parseInt(qtySplit[2], 10);

                if (minYer < qtyYer && qtyYer < maxYer) {
                    return true;
                }
                else if (qtyYer == maxYer && qtyMon < maxMon && split[0] == "") {
                    return true;
                }
                else if ((qtyYer == minYer && qtyMon > minMon) && (qtyYer == maxYer && qtyMon < maxMon)) {
                    return true;
                }
                else if (qtyYer == maxYer && qtyMon == maxMon && qtyDay < maxDay && split[0] == "") {
                    return true;
                }
                else if ((qtyYer == minYer && qtyMon == minMon && qtyDay > minDay) && (qtyYer == maxYer && qtyMon == maxMon && qtyDay < maxDay)) {
                    return true;
                }

                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {

                var value = $("#Ride_ID").val();

                if (value == "") {
                    return true;
                }
                else if (value.indexOf('<') == -1) {
                    var qty = parseInt(data[0], 10) || 0;
                    if (qty == value) {
                        return true;
                    }
                    return false;
                }

                var split = value.split('<', 2);

                var min = 0;
                var max = 0;

                if (split != null) {
                    min = parseInt(split[0], 10);
                    max = parseInt(split[1], 10);

                    if (isNaN(min)) {
                        min = 0;
                    }
                    if (isNaN(max)) {
                        max = 0;
                    }
                }

                var qty = parseInt(data[0], 10) || 0;

                if (min < qty && qty < max) {
                    return true;
                }
                return false;
            }
        );


        table.columns().eq(0).each(function (colIdx) {
            $('input', table.column(colIdx).footer()).on('keyup change', function () {
                if (colIdx == 4) {
                    table
                        .column(colIdx)
                        .search(this.value, true)
                        .draw();
                }
                else {
                    table.draw();
                }
               
            });
        });

    });
</script>
